@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

.parallax {
  position: relative;
  background: url('./img.jpg') fixed;
  /* zin */
  background-size: cover;
  background-position:center;
  height: 100vh;
  margin-top: 3.5rem;
}

.parallax-content {
  position: fixed;
  width: 100vw;
  height: 90vh;
  overflow-y:auto;
}